<!DOCTYPE html>
<html>
  <head>
    <title>Phage Wars</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='/js/game.bundle.js'></script>
  </head>
  <body>
    <canvas id="map" width='1200' height='600'></canvas>
  </body>
</html>
