<!DOCTYPE html>
<html>
  <head>
    <title>V-Wars</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='/js/bundle.js'></script>
  </head>
  <body>
    <canvas id="canvas" width='1000' height='600'></canvas>
  </body>
</html>
